annotated-types==0.7.0
asttokens==3.0.0
Authlib==1.5.1
bandit==1.8.3
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
cssselect2==0.8.0
decorator==5.2.1
dparse==0.6.4
executing==2.2.0
filelock==3.16.1
fonttools==4.57.0
idna==3.10
iniconfig==2.1.0
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonpickle==4.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib-inline==0.1.7
mdurl==0.1.2
networkx==3.4.2
nltk==3.9.1
packaging==24.2
parso==0.8.4
pbr==6.1.1
pillow==11.1.0
pip-licenses==5.0.0
pipdeptree==2.25.1
pluggy==1.5.0
prettytable==3.16.0
prompt_toolkit==3.0.50
psutil==6.1.1
pure_eval==0.2.3
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydyf==0.11.0
Pygments==2.19.1
pyphen==0.17.2
pytest==8.3.5
pyvis==0.3.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safety==3.3.1
safety-schemas==0.0.11
setuptools==77.0.3
shellingham==1.5.4
stack-data==0.6.3
stevedore==5.4.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.2.1
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.2
typing_extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
weasel @ file:///C:/Users/Steeve/Documents/weasel
weasyprint==65.0
webencodings==0.5.1
zopfli==0.2.3.post1
simplejson==3.16.0
itsdangerous==1.1.0
mako==1.1.0
defusedxml==0.6.0
Werkzeug==0.16.0
